*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.app{
    background-image: url('../asset/bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}